{{ define "content" }}

<section class="single-page">
    <div class="container">
        <article class="article">
            <header class="article-header">
                <h1>{{ .Title }}</h1>
                {{ if .Date }}
                    <p class="article-date">{{ .Date.Format "2 January 2006" }}</p>
                {{ end }}
            </header>
            <div class="article-content">
                {{ .Content }}
            </div>
        </article>
    </div>
</section>

{{ end }}
